:root {
  margin: 0 auto;
  background-color: black;
  color: white;
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Default font size */
html {
  font-size: 16px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

/* Media query for medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 22px;
  }
}

/* Media query for extra-large screens */
@media only screen and (min-width: 1025px) and (max-width: 2047px) {
  html {
    font-size: 26px;
  }
}


/* Media query for 4k screens */
@media only screen and (min-width: 2048px) {
  html {
    font-size: 30px;
  }
}
